<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [opened]="opened$ | async">
    <div>
      <img width="150" class="logo"
        src="https://firebasestorage.googleapis.com/v0/b/gitbook-28427.appspot.com/o/assets%2F-L9CoGJCq3UCfKJ7RCUg%2F-Lqo8CEiTGbFfHN-MPem%2F-Lqo8Eji2N8XvyACYQ-W%2Flogo.png?generation=1570685386501621&alt=media"
        alt="Ngxs">
      <p>State Management app</p>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>NGXS application</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>